<MarketplaceDetails>
  <SmallAppTile>Store Tile - 300x300.png</SmallAppTile>
  <ScreenShots>;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Screen Shot 01 - portrait - WXGA - 768x1280.png;Screen Shot 02 - portrait - WXGA - 768x1280.png;Screen Shot 03 - portrait - WXGA - 768x1280.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>