<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.sellsbrothers.middlemeeter" android:versionCode="1" android:versionName="1.0.0.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="MiddleMeeter" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>